<h2>
  Lista de Produtos
</h2>

<p>
  <%= link_to( 'Novo produto', new_produto_url, :class => 'btn btn-primary' ) %>
</p>
<table class="table table-bordered table-striped">
  <%= render_head Produto, :nome, :preco  %>
  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= link_to( produto.nome, produto_path(produto) ) %></td>
        <td><%= number_to_currency produto.preco %></td>
        <td>
          <%= link_to 'Editar', edit_admin_produto_path(produto), :class => 'btn btn-primary'%>

          <%= link_to 'Remover', admin_produto_path(produto), 
                :method => 'delete',
                :class => 'btn btn-danger', :data => {:confirm => 'Tem certeza?'}%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>